@charset="utf-8";
/*
   Author: Alex Nudelman

*/

*{
	margin:0;
	padding:0;
	font-family:Helvetica, Arial, "Helvetica Neue", sans-serif;
}
html{
	background:url("../img/back.png");
	background-repeat:no-repeat;
}
body{
	width:920px;
	margin-right:auto;
	margin-left:auto;
}
div.main{
	border:2px solid #fefefe;
/*border-radius*/
	-webkit-border-radius:8px;
   	-moz-border-radius:8px;
    border-radius:8px;
	padding:10px 20px;
	background-color:#000;
	opacity:.7;
	width:600px;
	color:#fff;
	margin:20% auto 0px auto;
}
div.title{
	font-size:28px;
	font-weight:700;
	width:100%;
	text-align:center;
}
div.title span{
	font-weight:normal;
}
div.content{
	margin:40px 0 0 0;
}
div.content span{
	display:block;
	padding:0px 0px 0px 30px;
}

div.content p{

	display:block;
	padding:4px 10px;
}

div.content a ,div.content a:hover , div.content a:visited{
	cursor: pointer;;
	color: #00ACE6;
	text-decoration: none ;

}
div.footer{
	color: #C9C9C9;
	font-size: 12px;
	position: fixed;
	margin: 0px auto 15px auto;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align:center;
}